.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $medium-space;
  box-shadow: $card-shadow;
  border-radius: $card-radius;
}

.card {
  padding: $medium-space;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: min(100%, 384px);

  &__heading {
    margin-bottom: $large-space;
    display: flex;
    gap: $small-space;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $medium-space;

    p {
      color: #A9A9AA;
      font-size: $medium-font;
    }

    ul {
      display: flex;
      gap: $medium-space;
      flex-direction: column;
      font-size: $small-font;
    }

    li::before {
      content: url("../../public/img/check.svg");
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &__pricing {
    display: flex;
    flex-direction: column;
    gap: $medium-space;

    .recurrence {
      font-weight: normal;
      font-size: $small-font;
    }
  }

  &--dark {
    color: #fff;
    background: #0B0641;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    animation: bounceY 2s ease-in-out forwards infinite alternate;

    & > .content {
      width: min(100%, 281px);
    }

    li::before {
      content: url("../../public/img/check-light.svg");
    }
  }
}