.container {
  width: min(95%, 1200px);
  margin: 0 auto;
  padding: 5em 0;
}

body {
  font-family: Inter, sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: $small-font;
}

li {
  list-style-type: none;
}

hr {
  margin: $small-space 0;
  border: none;
  border-top: 1px dashed #A9A9AA;
}