$small-space: 1em;
$medium-space: 1.5em;
$large-space: 2em;

// Cards
$card-radius: 20px;
$card-shadow: 0.1px 1.3px 5.3px rgba(0, 0, 0, 0.024), 0.4px 4.2px 17.9px rgba(0, 0, 0, 0.036),  2px 19px 80px rgba(0, 0, 0, 0.06);

// Fonts
$small-font: 1.125rem;
$medium-font: 1.375rem;

// Colors
$color-primary: #FF1D89;
$color-secondary: #FFF5FA;
$color-light: #FFF;